@import './tailwind.css';
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --font-family: 'Lato', Helvetica, Arial, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #fff;
  font-family: var(--font-family);
  color: #666;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

div, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.bg-primary {
  background-color: #f8fcfb;
}

.bg-secundary{
  background-color: #fdfce8;
}

.bg-fafafa{
  background-color: #fafafa;
}

.text-color-button{
  color: #1f2b45;
}

.color-yellow {
  color: #ffcf20;
}
